{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">إضافة عقد جديد</h3>

<div class="card p-4 shadow-sm">

    <form method="post">

        <div class="mb-3">
            <label class="form-label">اسم العميل</label>
            <select name="client" class="form-select">
                {% for c in clients %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>تاريخ بداية العقد</label>
                <input type="date" name="start_date" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
                <label>تاريخ نهاية العقد</label>
                <input type="date" name="end_date" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label>العنوان</label>
            <input type="text" name="address" class="form-control">
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label>رقم الحساب</label>
                <input type="text" name="account" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label>اسم إصدار الشيك</label>
                <input type="text" name="cheque" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label>المبلغ الكامل</label>
                <input type="number" name="total" class="form-control">
            </div>
        </div>

        <button class="btn btn-warning px-5 mt-3">حفظ</button>

    </form>

</div>

{% endblock %}

