{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">بحث بالعناوين</h3>

<div class="card p-4 shadow-sm">

    <form method="post">
        <label>اكتب العنوان</label>
        <input type="text" name="search_text" class="form-control">
        <button class="btn btn-primary mt-3">بحث</button>
    </form>

</div>

<hr>

{% if results %}
<div class="card p-3 shadow-sm">
    <h5 class="mb-3">نتائج البحث</h5>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>العميل</th>
                <th>العنوان</th>
                <th>رقم الحساب</th>
                <th>اسم إصدار الشيك</th>
                <th>نوع العملية</th>
                <th>التاريخ</th>
                <th>المبلغ</th>
            </tr>
        </thead>

        <tbody>
            {% for r in results %}
            <tr>
                <td>{{ r.client }}</td>
                <td>{{ r.address }}</td>
                <td>{{ r.account }}</td>
                <td>{{ r.cheque }}</td>
                <td>{{ r.type }}</td>
                <td>{{ r.date }}</td>
                <td>{{ r.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endif %}

{% endblock %}

