<div class="sidebar">
    <a class="menu-btn" href="/clients">إضافة عملاء</a>
    <a class="menu-btn" href="/ads">إضافة إعلان</a>
    <a class="menu-btn" href="/contracts">إضافة عقود</a>
    <a class="menu-btn" href="/reports_ads">تقارير الإعلانات</a>
    <a class="menu-btn" href="/reports_contracts">تقارير العقود</a>
    <a class="menu-btn" href="/search">بحث بالعناوين</a>
    <a class="menu-btn" href="/companies">إضافة شركات</a>
</div>

<style>
.sidebar {
    width: 250px;
    background: #f3f3f3;
    padding: 20px 10px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 2px solid #ddd;
}
.menu-btn {
    display: block;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}
.menu-btn:hover {
    background: #dfe3ff;
}
.menu-btn.active {
    background: #faae2b;
    color: #fff;
}
</style>

